{% extends "base.html" %}

{% block content %}

  {% if tag_list %}
    <table class="table">
      <tr>
        <th>
          <h1>Tags</h1>
        </th>
        <th></th>
        <th></th>
        <th><a href="{% url 'tag-create' %}">Add</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
        <th></th>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td>{{ tag.name }}</td>
          <td><a href="{% url 'tag-update' pk=tag.id %}">Update</a></td>
          <td><a href="{% url 'tag-delete' pk=tag.id %}">Delete</a></td>
          <td></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tags</p>
  {% endif %}
{% endblock %}
